!!!
%html
  %head
    %title
      Beyt el Mouneh | Emails
  %body#store
    %p Thank you for your doing business with Beyt El Mouneh (BEM)
    = "#{@greeting},"
    %p This is a confirmation of your order.
    %p You have orered the following products

    .depot_form
      %fieldset
        %legend Your Order
        %table{:style => 'padding: 5px'}
          %tr
            %th
              Order Name:
            %td{:style => 'padding: 5px'}
              = @order.name
          %tr
            %th
              Address:
            %td{:style => 'padding: 5px'}
              = @order.address.split("\n").join('<br />').html_safe
          %tr
            %th
              Email:
            %td{:style => 'padding: 5px'}
              = @order.email
          %tr
            %th
              Payment Type:
            %td{:style => 'padding: 5px'}
              = @order.pay_type

          %tr
            %th
              Order Items:
            %td{:style => 'padding: 5px'}
              %table{:style => 'padding: 5px'}
                %tr
                  %th
                    Quantity
                  %th Item
                  %th
                    Unit
                    %br
                    Price
                  %th Price
                - grand_total_price = 0
                - @order.line_items.each do |item|
                  -grand_total_price += item.total_price
                  %tr
                    %td{:style => 'padding: 5px'}
                      = item.quantity
                    %td{:style => 'padding: 5px'}
                      = item.product.title
                    %td{:style => 'padding: 5px'}
                      = item.product.price
                    %td{:style => 'padding: 5px'}
                      = item.total_price
                %tr
                  %td
                  %td
                  %td{:style => 'padding: 5px'}
                    %b Total
                  %td{:style => 'padding: 5px'}
                    %b= number_to_currency(grand_total_price, :locale => :lb)


    %p
      Sincerely,
      %br
      The BEM Team
