<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, :size => 40 %>
</div>
<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, :size => 40 %>
</div>
<div class="field">
  <%= f.label :address %><br />

  <%= f.text_area :address, :rows => 3, :cols => 40 %>
</div>
<div class="field">
  <%= f.label :city %><br />
  <%= f.select :city, User::CITIES,
                :prompt => 'Select a city' %>
</div>
<div class="field">
  <%= f.label :country %><br />
  <%= f.select :country, User::COUNTRIES,
                :prompt => 'Select a country' %>
</div>
<div class="field">
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %><br />
  <%= f.password_field :password_confirmation %>
</div>
