= render 'shared/error_messages', :object => f.object
.field
  = f.label :first_name
  = f.text_field :first_name, :size => 40
.field
  = f.label :last_name
  = f.text_field :last_name, :size => 40
.field
  = f.label :address
  = f.text_area :address, :rows => 3, :cols => 40
.field
  = f.label :city
  = f.select :city, User::CITIES, |
    :prompt => 'Select a city'    |
.field
  = f.label :country
  = f.select :country, User::COUNTRIES, |
    :prompt => 'Select a country'       |
.field
  = f.label :phone
  = f.text_field :phone
.field
  = f.label :email
  = f.text_field :email
.field
  = f.label :password
  = f.password_field :password
.field
  = f.label :password_confirmation, "Confirmation"
  = f.password_field :password_confirmation
