%td{:style => 'padding: 5px'}
  = form_for( ordered_item, :url => {:controller => 'line_items', :action => "update", :id => ordered_item.id}, :remote => true) do |f|
    = f.text_field :quantity, :value => ordered_item.quantity, :size => 4, :id => "ordered_item_quantity_field_id_#{ordered_item.id}"
    = f.submit 'Update', :id => "ordered_item_update_button_id_#{ordered_item.id}"
%td{:style => 'padding: 5px'}= ordered_item.product.title
%td{:style => 'padding: 5px'}= number_to_currency(ordered_item.product.price, :locale => :lb)
%td{:style => 'padding: 5px'}
  -unless ordered_item.product.image_url.blank?
    = image_tag(ordered_item.product.image_url(:thumb_small), :size => '50x50')
%td{ :class => "item_price", :style => 'padding: 5px'}= number_to_currency(ordered_item.total_price, :locale => :lb)
%td{:style => 'padding: 5px'}= button_to "Delete", ordered_item, :method => :delete, :confirm => "Press 'Ok' to delete this item, 'Cancel' to keep it", :remote => true
