%h1 Beyt el Mouneh's products
- @products.each do |product|
  .entry
    -unless product.image_url.blank?
      = image_tag(product.image_url)
    %h3= product.title
    = sanitize(product.description)
    .price_line
      %span.price= number_to_currency(product.price, :locale => :lb)
      = button_to 'Add to Cart', line_items_path(:product_id => product), |
        :remote => true, :id => "button_for_product_id_#{product.id}"
