!!! 5
%html
  %head
    %title= "Beyt El Mouneh | #{@title}"
    = stylesheet_link_tag :all
    //= javascript_include_tag :defaults
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/ui-lightness/jquery-ui.css'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js'
    = javascript_include_tag 'rails_jquery.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js'
    = javascript_include_tag 'jquery-ui-timepicker-addon.js'
    = javascript_include_tag 'application.js'
    = active_scaffold_includes
    = csrf_meta_tag
  %body
    #wrapper
      .water_mark
        Beyt el Mouneh Administration
      #top
        .main_navigation
          =link_to "Home", '/'
          |
          =link_to "Store", :controller => :store, :action => :index
          |
          =link_to "Products", :controller => :products
          |
          =link_to "Categories", :controller => :categories
          |
          =link_to "Orders", :controller => :orders
          |
          =link_to "Order Line Items", :controller => :line_items
      #content
        #stuff
          %br
          = yield
          %br
          = link_to_function "test js", '$(this).html("js works")'
          %br
          %br
          = button_to_function "test button js", '$(this).after("<p>js button works</p>")'

